<!-- Seccion de Experiencia -->
<section class="pt-24 container mx-auto px-2 lg:w-[740px]" id="experience">
  <h2 class="text-3xl font-bold text-dark-700 dark:text-primary-50">Experiencia</h2>
  <article class="container px-2 mt-10">
    <ul class="relative border-l border-dark-400 dark:border-dark-700">
      <!-- Item -->
      <!-- <li class="mb-8 md:mb-6 ml-6">
        <span
          class="absolute flex items-center justify-center w-6 h-6 bg-dark-600 rounded-full -left-3 ring-8 ring-dark-50 dark:ring-dark-950 dark:bg-dark-600"
          ><svg
            aria-hidden="true"
            class="w-4 h-4 text-primary-100 dark:text-primary-100"
            fill="currentColor"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
            ><path
              fill-rule="evenodd"
              d="M6 2a1 1 0 00-1 1v1H4a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V6a2 2 0 00-2-2h-1V3a1 1 0 10-2 0v1H7V3a1 1 0 00-1-1zm0 5a1 1 0 000 2h8a1 1 0 100-2H6z"
              clip-rule="evenodd"></path></svg
          ></span
        ><h3 class="flex items-center gap-2 mb-1 text-lg font-semibold text-primary-500 dark:text-primary-600">
          Investigación en inteligencia artificial
          <span class="dark:text-white text-dark-700 font-normal">-</span><span class="text-sm text-crusta-800 dark:text-crusta-300/90"
            >Simbig 2023</span
          >
        </h3><time class="block mb-2 text-sm font-normal leading-none text-primary-950/80 dark:text-primary-200/90">Febrero 2023 - Julio 2023</time><p
          class="mb-4 font-normal text-dark-700 dark:text-dark-200 text-base text-pretty">
          Se desarrolló un modelo para predecir los tiempos de viaje entre paraderos de la empresa Patron de San Jeronimo, utilizando redes neuronales
          recurrentes hibridas. Aprobada para su publicacion en la revista Springer.
        </p>
      </li> -->

      <!-- Item -->
      <!-- <li class="mb-8 md:mb-6 ml-6">
        <span
          class="absolute flex items-center justify-center w-6 h-6 bg-dark-600 rounded-full -left-3 ring-8 ring-dark-50 dark:ring-dark-950 dark:bg-dark-600"
          ><svg
            aria-hidden="true"
            class="w-4 h-4 text-primary-100 dark:text-primary-100"
            fill="currentColor"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
            ><path
              fill-rule="evenodd"
              d="M6 2a1 1 0 00-1 1v1H4a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V6a2 2 0 00-2-2h-1V3a1 1 0 10-2 0v1H7V3a1 1 0 00-1-1zm0 5a1 1 0 000 2h8a1 1 0 100-2H6z"
              clip-rule="evenodd"></path></svg
          ></span
        ><h3 class="flex items-center gap-2 mb-1 text-lg font-semibold text-primary-700 dark:text-primary-600">
          Desarrollador web
          <span class="dark:text-white text-dark-700 font-normal">-</span><span class="text-sm text-crusta-800 dark:text-crusta-300/90"
            >Unidad de Gestion Educativa Local Canchis</span
          >
        </h3><time class="block mb-2 text-sm font-normal leading-none text-primary-950/80 dark:text-primary-200/90">Junio 2022 - Septiembre 2022</time
        ><p class="mb-4 font-normal text-dark-700 dark:text-dark-200 text-base text-pretty">
          Diseñé e implementé de un sistema web especializado en la emisión de boletas de pago, orientado a docentes cesantes, pertenecientes a la
          Unidad de Gestión Educativa Local (UGEL) Canchis.
        </p>
      </li> -->
      <!-- Item -->
      <li class="mb-8 md:mb-6 ml-6">
        <span
          class="absolute flex items-center justify-center w-6 h-6 bg-dark-600 rounded-full -left-3 ring-8 ring-dark-50 dark:ring-dark-950 dark:bg-dark-600"
          ><svg
            aria-hidden="true"
            class="w-4 h-4 text-primary-100 dark:text-primary-100"
            fill="currentColor"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
            ><path
              fill-rule="evenodd"
              d="M6 2a1 1 0 00-1 1v1H4a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V6a2 2 0 00-2-2h-1V3a1 1 0 10-2 0v1H7V3a1 1 0 00-1-1zm0 5a1 1 0 000 2h8a1 1 0 100-2H6z"
              clip-rule="evenodd"></path></svg
          ></span
        ><h3 class="flex items-center gap-2 mb-1 text-lg font-semibold text-primary-700 dark:text-primary-600">
          Desarrollador web
          <span class="dark:text-white text-dark-700 font-normal">-</span><span class="text-sm text-crusta-800 dark:text-crusta-300/90"
            >Unidad de Gestion Educativa Local Canchis</span
          >
        </h3><time class="block mb-2 text-sm font-normal leading-none text-primary-950/80 dark:text-primary-200/90">Marzo 2022 - Agosto 2022</time><p
          class="mb-4 font-normal text-dark-700 dark:text-dark-200 text-base text-pretty">
          Desarrollé dos aplicaciones web para la UGEL Canchis, sistema para docentes aptos para examen de lenguas originarias y sistema para emitir
          boletas de pago a docentes cesantes utilizando PHP, Bootstrap 5 y javascript, adicionalmente brindé soporte técnico en computadoras y redes
          en las oficinas.
        </p>
      </li>
      <!-- Item -->
      <li class="mb-8 md:mb-6 ml-6">
        <span
          class="absolute flex items-center justify-center w-6 h-6 bg-dark-600 rounded-full -left-3 ring-8 ring-dark-50 dark:ring-dark-950 dark:bg-dark-600"
          ><svg
            aria-hidden="true"
            class="w-4 h-4 text-primary-100 dark:text-primary-100"
            fill="currentColor"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
            ><path
              fill-rule="evenodd"
              d="M6 2a1 1 0 00-1 1v1H4a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V6a2 2 0 00-2-2h-1V3a1 1 0 10-2 0v1H7V3a1 1 0 00-1-1zm0 5a1 1 0 000 2h8a1 1 0 100-2H6z"
              clip-rule="evenodd"></path></svg
          ></span
        ><h3 class="flex items-center gap-2 mb-1 text-lg font-semibold text-primary-700 dark:text-primary-600">
          Aprendizaje autónomo
          <span class="dark:text-white text-dark-700 font-normal">-</span><span class="text-sm text-crusta-800 dark:text-crusta-300/90">Autónomo</span
          >
        </h3><time class="block mb-2 text-sm font-normal leading-none text-primary-950/80 dark:text-primary-200/90">2021 - 2022</time><p
          class="mb-4 font-normal text-dark-700 dark:text-dark-200 text-base text-pretty">
          Inicié mi incursión en el desarrollo web a través de los primeros pasos dados en mis clases de ingeniería, combinados con un enfoque
          autodidacta respaldado por cursos virtuales. Durante este periodo, concebí varios proyectos personales que no solo reforzaron mis
          habilidades, sino que también actuaron como acceso al ámbito laboral en la industria de tecnologías de la información.
        </p>
      </li>
    </ul>
  </article>
</section>
